python-telegram-bot
Flask[async]  # <<< Halkan ayaad wax ka beddeleysaa
gTTS
fpdf
web3
requests
APScheduler
# Optional, if you use it locally and ignore .env in git
# python-dotenv
reportlab
Pillow
eth-account
